@charset "UTF-8";
#menu, #menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#menu li {
  display: inline-block;
  position: relative;
  border-radius: 8px 8px 0 0;
}

#menu ul li {
  display: inherit;
  border-radius: 0;
}

#menu ul li:hover {
  border-radius: 0;
}

#menu ul li:last-child {
  border-radius: 0 0 8px 8px;
}

#menu ul {
  position: absolute;
  z-index: 1;
  max-height: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 0.8s all 0.3s;
  text-align: justify;
}

#menu li:hover ul {
  max-height: 15em;
}

/* background des liens menus */
#menu li:first-child {
  background-color: #a9bbe1;
  background-image: linear-gradient(to bottom, #a9bbe1 0%, #221e4c 100%);
}

#menu li:nth-child(2) {
  background-color: #f7dba3;
  background-image: linear-gradient(to bottom, #f7dba3 0%, #a8583f 100%);
}

#menu li:nth-child(3) {
  background-color: #221e4c;
  background-image: linear-gradient(to bottom, #221e4c 0%, #a9bbe1 100%);
}

/*#menu li:nth-child(4) {
    background-color: #a8583f;
    background-image:-webkit-linear-gradient(top, #a8583f 0%, #f7dba3 100%);
    background-image:linear-gradient(to bottom, #a8583f 0%, #f7dba3 100%);
    }*/
#menu .contact:last-child {
  background-color: #a8583f;
  background-image: linear-gradient(to bottom, #a8583f 0%, #f7dba3 100%);
}

/* background des liens sous menus */
#menu li:first-child li {
  background: #2A2333;
}

#menu li:nth-child(2) li {
  background: #333A40;
}

#menu li:nth-child(3) li {
  background: #9F391A;
}

#menu li:last-child li {
  background: #677F35;
}

/* background des liens menus et sous menus au survol */
#menu li:first-child:hover, #menu li:first-child li:hover {
  background: #a9bbe1;
}

#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover {
  background: #f3a100;
}

#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover {
  background: #a9bbe1;
}

#menu .contact:last-child:hover, #menu li:last-child li:hover {
  background: #f3a100;
}

/* les a href */
#menu a {
  text-decoration: none;
  display: block;
  padding: 8px 70px;
}

.navblack {
  color: black;
  border-radius: 8px 8px 0 0;
  justify-content: center;
}

#menu ul a {
  padding: 8px 0;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#menu li:hover li a {
  color: #fff;
  text-transform: inherit;
}

#menu li:hover a, #menu li li:hover a {
  color: #f7e2e2;
}

/*----------------------PHOTO ENTETE ACCUEIL-----------------*/
.entete {
  text-align: center;
}

.entete img {
  width: 70%;
  transition: 0.2s;
}

.entete img:hover {
  width: 70%;
  opacity: 0.7;
}

/*-----------------------ESPACE CLIENT------------------*/
.client {
  color: black;
  width: 50%;
  background-color: #a9bbe1;
  background-image: linear-gradient(to bottom, #a9bbe1 0%, #2e4985 100%);
  border-radius: 8px 8px 0 0;
}

.client:hover {
  color: #a9bbe1;
}

/*-------------------------------------------------------*/
/*----------------BODY ENTETE HTML-------------------*/
body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

.log {
  text-align: center;
}

html {
  overflow-x: hidden;
}

/*---------------PAGE SOCIAL----------------------*/
.prise {
  margin-left: 35.5%;
  margin-top: 3%;
  color: #a8583f;
}

.prestation {
  margin-left: 35.5%;
  font-size: 20px;
}
.repartition {
  margin-left: -17%;
}

.container {
  display: flex;
  margin-left: 35%;
}

.tarifsocial {
  margin-left: 25%;
  color: #a8583f;
}

.htaxes {
  text-align: center;
}

.etatsocial {
  list-style-type: none; /* Supprime les puces par défaut */
}

.etatsocial li:before {
  content: "-"; /* Utilise un point pour représenter les puces */
  /* Ajoute un espace entre la puce et le texte */
  text-decoration: none;
  margin-left: 34.7%;
  margin-right: 0.5%;
}

.ppc {
  color: #4f6caa;
  font-weight: bold;
  font-size: 19px;
  text-decoration: underline;
}

.namepro {
  display: flex;
  margin-left: 34.7%;
  line-height: 1;
}

.product {
  flex-basis: 40%;
}

.price {
  flex-basis: 5%; /* Occupe 50% de la largeur */
  text-align: right;
}

/*-----------------DARK MODE------------*/
body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
body.dark-mode a {
  color: white;
}
body.dark-mode #dark {
  background-color: white;
  background-image: linear-gradient(to bottom, #faf6f6 0%, white 100%);
}
body.dark-mode #myBtn {
  background-color: white;
  color: black;
}
body.dark-mode #menu a {
  color: white;
}
body.dark-mode .client {
  width: 48%;
  background-color: #f7dba3;
  background-image: linear-gradient(to bottom, #f7dba3 0%, #da8166 100%);
}
body.dark-mode section#contact .formulaire {
  box-shadow: 0px 10px 50px -10px #f7dba3;
}
body.dark-mode .formNous h2 {
  color: black;
}
body.dark-mode .formNous p {
  color: black;
}
body.dark-mode section#contact .formulaire form button {
  background-color: #f7dba3;
}
body.dark-mode section#contact .formulaire form button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 50px -10px #f7dba3;
}
body.dark-mode section#contact .formulaire form input:hover,
body.dark-mode section#contact .formulaire form textarea:hover {
  border-bottom: 3px solid #f7dba3;
}
body.dark-mode th, body.dark-mode td {
  border-color: white;
}

#dark {
  height: 39px;
  border: none;
  background-color: black;
  width: 1.4%;
  margin-left: 5%;
  font-size: 1em;
  border-radius: 8px 8px 0 0;
}

/*---------------------------------------*/
.mobile-menu {
  display: none;
}

/*-------------BOUTON EN HAUT--------------*/
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 100;
  font-size: 14px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #777;
}

/*--------------------------------------*/
@media screen and (min-width: 300px) and (max-width: 1000px) {
  /*------------NAVBAR MOBILE VERS-------------*/
  #menu {
    display: none;
  }
  .logosite {
    width: 60%;
  }
  .entete img {
    width: 100%;
  }
  .entete img:hover {
    width: 100%;
  }
  .mobile-menu {
    display: block;
    margin-left: 94%;
    margin-top: -12%;
  }
  .dropdown-content li {
    list-style-type: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .submenu {
    display: none;
    padding-left: 20px;
    text-align: left;
  }
  .submenu li {
    position: relative;
  }
  .submenu a {
    padding: 10px;
  }
  .mobile-menu li.open > .submenu {
    display: block;
  }
  .dropbtn {
    background-color: transparent;
    color: #a9bbe1;
    padding: 12px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-left: -10%;
  }
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #a9bbe1;
    min-width: 160px;
    font-size: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 65%;
    top: 8%;
    text-align: justify;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*------------------------------------*/
  .repartition {
    margin-top: 20%;
    font-size: 20px;
  }
  .assures {
    margin-top: -5%;
  }
  .laptop {
    margin-left: 0;
    width: 100%;
  }
  .form {
    display: flex;
  }
  section#contact .formulaire form {
    flex-direction: column;
    width: 100%;
  }
}
footer {
  border: 1px rgb(184, 180, 180) solid;
  height: 100%;
  width: 100%;
  margin-top: 15%;
  background-color: rgb(184, 180, 180);
  overflow: hidden;
  color: white;
  padding-top: 1%;
}

.foo {
  display: inline;
  width: 30%;
  height: 35px;
  padding-left: 5%;
  text-transform: uppercase;
  list-style-type: none;
  color: black;
  margin-left: 25%;
  padding-top: 0.6%;
  overflow: hidden;
}

.info {
  margin-left: 33.5%;
  padding-bottom: 2%;
  padding-top: 3%;
}

.findepage {
  color: black;
  padding: 2%;
}

.findepage a:hover {
  color: orange;
}

.pieddepage {
  display: inline;
  margin-right: 25px;
  color: black;
}

.pieddepage a {
  color: black;
  text-decoration: none;
}

.pieddepage a:hover {
  color: orange;
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
  /*----------NAVBAR VERSION LAPTOP----------------*/
  #menu li {
    display: inline-block;
  }
  .entete img {
    width: 90%;
  }
  .entete img:hover {
    width: 90%;
  }
  .client {
    width: 7%;
    margin-top: -1.9%;
    margin-left: 78.8%;
  }
  /*-----------------------------*/
  /*----------PAGE SOCIAL LAPTOP----------*/
  .prise {
    margin-left: 24%;
    margin-top: 3%;
    color: #a8583f;
  }
  .prestation {
    margin-left: 24%;
    font-size: 20px;
  }
  .container {
    display: flex;
    margin-left: 24%;
  }
  .container li:before {
    margin-right: 0.5%;
  }
  .etatsocial li:before {
    margin-left: 24%;
  }
  .ppc {
    color: #4f6caa;
    font-weight: bold;
    font-size: 19px;
    text-decoration: underline;
  }
  .namepro {
    display: flex;
    margin-left: 24%;
    line-height: 0.1;
  }
  .product {
    flex-basis: 40%;
  }
  .price {
    flex-basis: 25%;
    text-align: right;
  }
  .laptop {
    width: 52%;
    margin-left: 24%;
  }
  /*--------------------PAGE CONTACT--------------------*/
  section#contact .formulaire form button {
    margin-left: -10%;
  }
  .formNous {
    margin-left: -10%;
  }
  section#contact {
    width: 100%;
  }
  /*-------------------------------------*/
  /*------------DARK MODE LAPTOP------------------*/
  #dark {
    width: 2%;
  }
  body.dark-mode .client {
    width: 7%;
  }
}
.first {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  box-shadow: 0px 10px 50px -10px #a9bbe1;
}

.delete {
  border-top: none;
  border-bottom: none;
}

.repartition {
  text-align: center;
  color: #a8583f;
}

caption {
  text-align: left;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

.empty {
  border-bottom: none;
}

.supp {
  border-top: none;
}

.cross {
  text-align: center;
  border-top: none;
}

.good {
  border-top: none;
  border-bottom: none;
  text-align: center;
}

.croix {
  text-align: center;
}

/*----------------FORMULAIRE CONTACT-------------------*/
section#contact {
  padding: 100px 0;
}

.formNous h2 {
  text-align: center;
  font-size: 40px;
}

.formNous p {
  text-align: center;
}

section#contact .formulaire {
  max-width: 40%;
  margin-left: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: white;
  height: 540px;
  padding: 30px 10px;
  border-radius: 15px;
  box-shadow: 0px 10px 50px -10px #a9bbe1;
}

section#contact .formulaire form input,
section#contact .formulaire form textarea {
  margin: 10px 0;
  width: 41.4%;
  padding: 10px 0;
  margin-left: 5%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(230, 225, 225);
  transition: 0.2s;
}

section#contact .formulaire form textarea {
  width: 90%;
  resize: none;
  height: 40px;
  margin-bottom: 30px;
}

section#contact .formulaire form button {
  width: 192px;
  height: 50px;
  border-radius: 8px;
  background-color: #a9bbe1;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
  margin: 0 auto;
  transition: 0.2s;
  margin-left: 35%;
}

section#contact .formulaire form button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 50px -10px #a9bbe1;
}

section#contact .formulaire form input:hover,
section#contact .formulaire form textarea:hover {
  border-bottom: 3px solid #a9bbe1;
}

/*---------------INFO ENTREPRISE-----------------*/
.infocontact {
  text-align: center;
  font-size: 20px;
}

.information {
  max-width: 40%;
  margin-left: 32%;
  align-items: center;
  flex-direction: row-reverse;
  background-color: white;
  height: 400px;
  padding: 30px 10px;
  border-radius: 15px;
  box-shadow: 0px 10px 50px -10px #a9bbe1;
}

.information a {
  color: black;
  cursor: pointer;
}

.information a:hover {
  color: orange;
}

.information a:visited {
  color: black;
}

/*-----------------MAP ITINERAIRE-----------------*/
.start {
  margin-left: 35%;
}

#map {
  height: 500px;
  margin-left: 35%;
  width: 30%;
}

.DWT {
  background-color: #a9bbe1;
  border-radius: 5px 5px 5px 5px;
}

#steps {
  max-width: 30%; /* Réduire la hauteur à 200 pixels */
  margin-left: 35%;
}/*# sourceMappingURL=main.css.map */