@media screen and (min-width : 300px) and (max-width : 1000px) {
  /*------------NAVBAR MOBILE VERS-------------*/
#menu {
        display:none;
    }
    .logosite {
        width: 60%;
       
    }
    .entete img {
      width: 100%;
    }
    .entete img:hover {
      width: 100%;
    }
   
   
    .mobile-menu {
        display: block;
        margin-left: 94%;
        margin-top:-12%;
        
      }
      .dropdown-content li {
        list-style-type: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        
       
        
      }
      .submenu {
        display: none;
        padding-left: 20px;
        text-align: left;
      }
      
      .submenu li {
        position: relative;
      }
      
      .submenu a {
        padding: 10px;
        
      }
      
      .mobile-menu li.open > .submenu {
        display: block;
      }
      .dropbtn {
        background-color: transparent;
        color: #a9bbe1;
        padding: 12px;
        font-size: 25px;
        border: none;
        cursor: pointer;
        margin-left: -10%;
        
       
        
      }
      
      .dropdown-content {
        display: none;
        position: fixed;
        background-color: #a9bbe1;
        min-width: 160px;
        font-size: 15px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        left: 65%;
        top :8%;
        text-align: justify;
       
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
        
      }
      /*------------------------------------*/
      
      .repartition {
        margin-top: 20%;
        font-size: 20px;
      }
      .assures {
        margin-top: -5%;
      }
      .laptop {
        margin-left: 0;
        width: 100%;
      }
      .form {
        display: flex;
      }
      section#contact .formulaire form  {
        flex-direction: column; 
        width: 100%;
        
      }
}