body.dark-mode {
    background-color: #000000;
    color: #ffffff; 
    
    
    a {
      color: white;
    }
    #darkModeIcon {
      background-color: white;
      background-image:-webkit-linear-gradient(top, #faf6f6 0%, white 100%);
      background-image:linear-gradient(to bottom,  #faf6f6 0%, white 100%);
    }
    #myBtn {
      background-color: white;
      color: black;
    }
    #menu a {
      color: white;
    }
.client {
    width: 4%;
    background-color: #f7dba3;
    background-image:-webkit-linear-gradient(top, #f7dba3 0%, #da8166 100%);
    background-image:linear-gradient(to bottom, #f7dba3 0%, #da8166 100%);
  }
  
}
  #darkModeIcon {
    height :39px;
    border:none;
    background-color: black;
    width: 1.4%;
    font-size: 1em;
    border-radius: 8px 8px 0 0;
        
  }
  #dark { 
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  #myBtn {
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 100;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #777;
  }
  